#(Koji,20240118,UMD TDX #20938386) Example config to require Weblogin authentication and MCommunity authorization

# Authentication
AuthType shibboleth
ShibRequestSetting requireSession 1
AuthLDAPURL ldaps://ldap.umich.edu

# Authorization - By default, Apache anonymously binds to LDAP, and that works as long as your group has set
# Member list viewable by anyone with an @umich.edu address on https://mcommunity.umich.edu/group/ML%20All%20Faculty%20and%20Staff
# which it is at the time of this writing.  If you ever need to restrict that setting, Apache will no longer be able to verify 
# group membership because it will render the member attribute unreadable.  If this is a possibility, we'll need to discuss further.
# You can list multiple lines of Require ldap-group if you need to use multiple groups.
Require ldap-group cn=ML All Faculty and Staff,ou=User Groups,ou=Groups,dc=umich,dc=edu
Require ldap-group cn=UMD KYAN TEST CHILD,ou=User Groups,ou=Groups,dc=umich,dc=edu
