.home,
.home main {
	margin: 0;
}

.home header {
	display: revert; /* no flex */
	background: var(--brand-bg);
	color: var(--text-light);
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
}

.icons {
	background: var(--content-bg);
	padding: 2rem 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
	list-style: none;
	margin: 0;
}

.icons img {
	border: none;
}

.main-page-icons {
	text-align: center;
	width: 160px;
}

[data-color-mode="dark"] .main-page-icons#resources img,
[data-color-mode="dark"] .main-page-icons#licensing img {
  filter: brightness(1.25);
}

[data-color-mode="dark"] .main-page-icons#organizations img {
	filter: brightness(1.5);
}

[data-color-mode="dark"] .main-page-icons#usage img,
[data-color-mode="dark"] .main-page-icons#management img {
	filter: brightness(1.75);
}

.main-page-icons a {
	display: block;
	text-decoration: none;
}

.main-page-icons span {
	text-decoration: none;
	font-size: 21px;
	margin-top: 1rem;
}

.main-page-icons:hover {
	cursor: pointer;
}

.main-page-icons:hover a img {
	opacity: 0.7;
}

.main-page-icons span {
	display: block;
}

.main-page-icons-off:hover {
	cursor: initial;
}